.Box_Layout {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.Right_Box {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 50px;
}
.Left_Box {
  display: flex;
}
.h2_heading {
  font-size: 40px;
  margin-bottom: 10px;
}

.home_img {
  width: 500px;
  height: 427px;
  margin-right: 120px;
}
.Para {
    color: rgb(56, 55, 55);
    width: 480px;
}

.Nav_Button {
  background-color: rgb(25, 103, 210);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.Nav_Button:hover {
background-color: rgb(3, 64, 150);
transition-duration: 200ms;
}
.Nav_Button_Secondary {
  background-color: white;
  color: rgb(25, 103, 210);
  padding: 12px 20px;
  border: 2px solid rgb(217, 222, 230);
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  margin-left: px;
}

.Nav_Button_Secondary:hover {
  background-color: rgb(230, 240, 255);
  border: 2px solid rgb(25, 103, 210);

}